body {
    font-family: Georgia, serif !important;
    color: white;
    margin: 20px !important; 
    background-color: white; 
    background-size: cover; 
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #F2F2F2;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #7FBFB0; 
    color: white;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 15px;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensures space between logo and nav */
}

header h1 {
    font-family: cursive, sans-serif;
    color: #3399FF;
    flex-grow: 1; /* Allows it to take up available space */
    text-align: center; /* Ensures text is centered */
}


header img {
    max-width: 100%;
    height: auto;
    max-height: 100px;
    margin-left: 20px; /* Align logo to the left */
}

nav {
    display: flex;
    align-items: center; /* Ensures all items in nav are aligned */
    justify-content: flex-end; /* Push nav links to the right */
    gap: 15px; /* Space between nav items */
}

nav a, #userLoginSection {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    display: flex;
    align-items: center;
}